@import "../themes/variables";

.card {
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
  border: 2px solid $primary-color;
  max-width: 15rem;

  h2 {
    margin: 1rem;
  }
}

.img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  border-bottom: 2px solid $primary-color;

  img {
    min-width: 15rem;
    height: auto;
    object-fit: cover;
    vertical-align: top;
  }
}
