@import "../themes/variables";

.search-icon {
  height: 100%;
  margin-left: 0.5rem;
  color: white;
}
.eye-icon {
  height: 100%;
  color: $primary-color;
  margin-left: 0.5rem;
}

a#github {
  z-index: 1000;
}

svg#github {
  fill: $primary-color;
  color: $background-color-dark;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  z-index: 1000;
}

svg#github:hover .octo-arm {
  animation: wave 560ms ease-in-out;
}

.octo-arm {
  transform-origin: 130px 106px;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  .search-icon {
    color: $secondary-color;
  }
}

/* Github wave animation */
@keyframes wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (prefers-color-scheme: light) {
  svg#github {
    color: $background-color-light;
  }
}
