@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
}
button:focus {
  outline: none;
}

/* Globals */
:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $text-color-light;
  background-color: $background-color-dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: inherit;
}
a:hover {
  color: $primary-color-hover;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: $text-color-dark;
    background-color: $background-color-light;
  }
  a:hover {
    color: #747bff;
  }
  .text-input {
    background-color: #f9f9f9;
  }
  svg {
    color: $secondary-color;
  }
}
