@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

#root {
  font-family: "Lexend", sans-serif;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

img,
input[type="text"],
button {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  padding: 10px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #646cff;
  border: 1px solid #646cff;
}

h1 > svg {
  height: 1.4ch;
  margin-left: 0.5rem;
}

.search-container {
  display: flex;
  justify-content: center;
}